body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(to bottom right, #514DF4, #60efff, #00ff87);
    color: #ffffff;
}

.sidebar .sidebar-content {
    background-color: #283040;
}

h1, h2, h3 {
    color: #e5e5e5;
}

.css-1vu1vkj {
    background-color: #210cae;
    border-color: #210cae;
}

.primary-color {
    color: #210cae;
}

.secondary-color {
    color: #60efff
